/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Monserrat:400,700);
@import "timeline";
@import "navbar";
@import "jobs";

$main: #34314c;
$secondary: #9592ad;
$border: #d9dee9;

$white: #FFFFFF;

$highlight_1: #e36867; // Red
$highlight_2: #fec952; // Yellow
$highlight_3: #47b8e0; // Blue
$highlight_4: #9f68d0; // Purple

body{
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5em;
  width: 100%;
}

.border {
  height: 6px;
  border: 0;
  background-color: red;
  background-image:
    linear-gradient(
      to right, 
      $highlight_1,
      $highlight_1 25%,
      $highlight_2 25%,
      $highlight_2 50%,
      $highlight_3 50%,
      $highlight_3 75%,
      $highlight_4 75%,
      $highlight_4 100%,
      $highlight_4 100%
    );

  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;
}

.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

.main_header {
  margin: 5em 0 3em 0;
}

.logo {
  img {
    
    float: left;
  }
  h1 {
    float: left;
    margin: 0 0 0 1em;
    text-transform: uppercase;
    font-size: 1.35em;
    padding-top: 1.1em;
    color: $main;
    span {
      font-weight: 400;
    }
  }
}

header{
  padding: 5em 0;
}

.load_more {
  text-align: center;
  .button {
    border: 2px solid $highlight_4;
    outline: none;
    padding: 1em 3.5em;
    text-align: center;
    background: transparent;
    border-radius: 2em;
    color: $highlight_4;
  }
}

@media only screen and (max-width: 700px) {
  .main_header {
    margin-top: 3em;
  }
  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    img {
      float: none;
    }
    h1 {
      float: none;
      margin: 0;
      font-size: 1.1em;
    }
  }

  .nav {
    float: none;
    text-align: center;
    a {
      margin: 0 .5em;
    }
  }
}

@media only screen and (max-width: 600px) {
  #timeline {
    .listing {
      .image_wrapper {
        margin-right: 1em;
        img {
          width: 50px;
        }
      }
      .info {
        width: 100%;
        padding: .4em 0 0 0;
        .job_title {
          font-size: 1.25em;
        }
      }
      .job_type {
        display: none;
      }
    }
  }
}