hr{
    width: 5em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #47b8e0;
    margin: 2em auto;
  }

.sub_nav{
  text-align: right;
}

.job_post{

  #date, #title, #job_info{
    text-align: center;
  }

  #date{
    color: grey;
    font-size: .9em;
    margin: 0;
  }

  #title{
    margin-bottom: 0;
    font-size: 2em;
    text-transform: uppercase;
  }

  #job_info{
    font-size: .9em;
    margin-bottom: 2em;
    color: red;
  }
}

#share_box{
  text-align: center;
  p{
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #424652;
    font-size: .8em;
  }
  i{
    color: #424652;
    padding: 1em 1.5em;
    &:hover{
      color: #47b8e0;
    }
  }
}