<header>

  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>

  <nav class="nav">
    <a href="#" class="current">All Job</a>
    <a href="#">Full-Time</a>
    <a href="#">Part-Time</a>
    <a href="#">Freelance</a>
    <a href="#">Contact</a>
  </nav>

</header>