<header>
  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>

  <nav class="nav">
    <a href="/jobs">All Job</a>
    <% Category.all.each do |category| %>
      <%= link_to category.name, jobs_path(category: category.name)%>
    <% end %>
  </nav>

</header>
